<div class="card-box">
  <h2>{{cardName}}</h2>
  <h3>Card Type:</h3>
  <p>{{cardType}}</p>
  <h3>Card Subtype:</h3>
  <p>{{cardSubtype}}</p>
  <h3>Card Color:</h3>
  <p>{{colorId}}</p>
  <h3>Card Keywords:</h3>
  <p>{{keywords}}</p>
</div>